[workspace]
name = "ssl.mojo"
version = "0.1.0"
description = "Add a short description here"
authors = ["Vikram <vikramsingh001@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max", "https://repo.prefix.dev/modular-community"]
platforms = ["linux-aarch64", "osx-arm64"]

[tasks]
test-specs = "npx quint test specs/tls13_protocol.qnt && npx quint test specs/tls13_record.qnt && npx quint test specs/crypto_hkdf.qnt && npx quint test specs/crypto_aead_gcm.qnt && npx quint test specs/crypto_x25519.qnt && npx quint test specs/crypto_sig_x509.qnt && npx quint test specs/tls_integration.qnt"
test-sha256 = "mojo run -I src -I tests tests/sha256_test.mojo"
test-hmac = "mojo run -I src -I tests tests/hmac_test.mojo"
test-hkdf = "mojo run -I src -I tests tests/hkdf_test.mojo"
test-aead = "mojo run -I src -I tests tests/record_aead_test.mojo"
test-x25519 = "mojo run -I src -I tests tests/x25519_test.mojo"
test-pki = "mojo run -I src -I tests tests/pki_test.mojo"
test-handshake = "mojo run -I src -I tests tests/handshake_test.mojo"
test-tls-socket = "mojo run -I src -I tests tests/tls_socket_test.mojo"
test-all = { depends-on = ["test-specs", "test-sha256", "test-hmac", "test-hkdf", "test-aead", "test-x25519", "test-pki", "test-handshake", "test-tls-socket"] }

[dependencies]
# lightbug_http 0.25.7 does not seem to work
mojo = ">=0.25.6,<0.26"
lightbug_http = ">=0.25.6,<0.25.8"
requests = ">=2.32.5,<3"
