[workspace]
name = "ssl.mojo"
version = "0.1.0"
description = "Add a short description here"
authors = ["Vikram <vikramsingh001@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max", "https://repo.prefix.dev/modular-community"]
platforms = ["linux-aarch64", "osx-arm64"]

[tasks]

[dependencies]
# lightbug_http 0.25.7 does not seem to work
mojo = ">=0.25.6,<0.26"
lightbug_http = ">=0.25.6,<0.25.8"
requests = ">=2.32.5,<3"
